/* Reset */
*, *::before, *::after {
  box-sizing: border-box;
  border: none;
}

/* Import font */
@font-face {
  font-family: 'Unisource';
  src: url('https://raw.githubusercontent.com/tatomyr/unisource/master/unisource.ttf');
}

/* Declaring variables */
body {
  --height: 54px;
  --general-offset: 10px;
  --light-color: #f5f5f5;
  user-select: none;
}

/* Fonts */
body, input, button {
  font-family: Unisource, sans-serif;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1px;
}

/* Constant height components */
#header, .form {
  height: var(--height);
  min-height: var(--height);
}

/* Main container */
.container {
  position: relative;
  margin: 0 auto;
  height: 100vh;
  max-height: 100vh;
}

/* Header & Filter */
#header {
  display: flex;
  justify-content: space-evenly;
  background: teal;
}
#header .controls-contaiter .item {
  display: inline-block;
  white-space: nowrap;
  height: 100%;
  line-height: var(--height);
  color: #4a4a4a;
  text-align: center;
  text-transform: uppercase;
  padding: 0 5px;
}
#header .controls-contaiter.active .item {
  color: var(--light-color);
}
#header .controls-contaiter {
  position: relative;
}
#header .controls-contaiter .counter {
  --diameter: 20px;
  display: inline-block;
  width: var(--diameter);
  height: var(--diameter);
  background: #d9900a;
  text-align: center;
  line-height: var(--diameter);
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: -15px;
  font-size: 0.75em;
  font-weight: bold;
  color: #4a4a4a;
}
#header .controls-contaiter.active .counter {
  color: var(--light-color);
}
#header .controls-contaiter .counter[data-count="0"] {
  display: none;
}

/* TasksList style */
.tasks-list {
  overflow-y: auto;
  height: calc(100% - 2 * var(--height));
  max-height: calc(100% - 2 * var(--height));
  background: lightgrey;
}
.tasks-list .task {
  --margin: 3px;
  --diameter: calc(var(--height) - 2 * var(--margin));
  height: var(--height);
  display: flex;
  justify-content: space-between;
  border-radius: calc(var(--height) / 2);
  background: var(--light-color);
  margin: var(--margin);
  position: relative;
}
.tasks-list .task.completed .image {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  opacity: 0.75;
}
.tasks-list .task .description {
  width: 100%;
  word-break: break-word;
  cursor: pointer;
  overflow: hidden;
  margin: 0 var(--general-offset);

  display: flex;
  align-items: center;
}
.tasks-list .task .description div {
  max-height: var(--height);
}
.tasks-list .task.completed .description {
  text-decoration: line-through;
}
.tasks-list .task .up-button {
  background: #468fb6;
  color: var(--light-color);
}
.tasks-list .task .delete-button {
  background: #c66169;
  color: var(--light-color);
}

/* Controls */
.form {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.form form {
  height: 100%;
  width: 100%;
}
.form form .input {
  width: 100%;
  height: 100%;
  background: #004b4b;
  color: var(--light-color);
  padding: 0 var(--general-offset);
}
.form #clear {
  --diameter: calc(var(--height) / 2);
  position: absolute;
  top: calc(var(--height) / 4);
  right: var(--general-offset);
  line-height: calc(var(--height) / 2);
  background: rgba(200,200,200,0.5);
  color: #004b4b;
  display: none;
}
.form form input#newTask.input:valid + div#clear {
  display: initial;
}

/* Fullscreen image */
.fullimage-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}
.fullimage-container img {
  max-width: calc(100vw - var(--general-offset));
  max-height: calc(100vh - var(--general-offset));
}
.fullimage-container .change-image {
  --diameter: calc(var(--height) - var(--general-offset));
  position: absolute;
  bottom: calc(var(--general-offset) / 2);
  background: #f3df34;
  color: teal;
}
.fullimage-container .change-image.next {
  right: calc(var(--general-offset) / 2);
}
.fullimage-container .change-image.prev {
  left: calc(var(--general-offset) / 2);
}

#notification {
  position: fixed;
  top: 30px; /* default value */
  width: 100%;
  height: var(--height);
  line-height: var(--height);
  text-align: center;
}

#notification .notification-text {
  display: inline-block;
  width: calc(100% - 1.5 * var(--height));
  color: white;
  background: rgba(80, 80, 80, 0.75);
  border-radius: 15px;
  box-shadow: 0 0 50px 5px rgba(80, 80, 80, 0.75);
}


/* Toolbox */
.hidden {
  display: none;
}

button.invisible-button {
  padding: 0;
  outline: none;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.round {
  display: inline-block;
  height: var(--diameter);
  width: var(--diameter);
  min-width: var(--diameter);
  margin: var(--margin);
  text-align: center;
  border-radius: 50%;

  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
