/* Reset */
* {
  box-sizing: border-box;
  border: none;
}

/* Declaring variables */
body {
  --controls-height: 54px;
  --li-height: 54px;
  --general-offset: 10px;
  --light-color: #f5f5f5;
}

/* Fonts */
body, input, button {
  font-family: SandNew;
  font-size: 28px;
}

/* Constant height components */
#header, .controls {
  height: var(--controls-height);
  min-height: var(--controls-height);
}

/* Main container */
.container {
  position: relative;
  margin: 0 auto;
  /* max-width: 600px; */
  height: 100vh;
  max-height: 100vh;
}

/* Header & Filter */
#header {
  display: flex;
  justify-content: space-evenly;
  background: teal;
}
#header .item {
  display: inline-block;
  white-space: nowrap;
  height: 100%;
  line-height: var(--controls-height);
  color: #4a4a4a;
  text-align: center;
  text-transform: uppercase;
  padding: 0 5px;
}
#header .item.active {
  color: var(--light-color);
}

/* TasksList style */
.tasks-list {
  overflow-y: auto;
  height: calc(100% - 2 * var(--controls-height));
  max-height: calc(100% - 2 * var(--controls-height));
  background: lightgrey;
}
.tasks-list .task {
  height: var(--li-height);
  display: flex;
  justify-content: space-between;
  border-radius: calc(var(--li-height) / 2);
  background: var(--light-color);
  margin: 1px;
}
.tasks-list .task .image {
  height: var(--li-height);
  width: var(--li-height);
  min-width: var(--li-height);
  border-radius: 50%;
  display: inline-block;

  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.tasks-list .task.completed .image {
  -webkit-filter: grayscale(1);
  opacity: 0.75;
}
.tasks-list .task .description {
  width: 100%;
  word-break: break-word;
  cursor: pointer;
  overflow: hidden;
  margin: 0 var(--general-offset);

  display: flex;
  align-items: center;
}
.tasks-list .task .description div {
  max-height: var(--li-height);
}
.tasks-list .task.completed .description {
  text-decoration: line-through;
}
.tasks-list .task .round {
  display: inline-block;
  height: var(--li-height);
  width: var(--li-height);
  min-width: var(--li-height);
  text-align: center;
  color: var(--light-color);
  border-radius: 50%;
}
.tasks-list .task .up-button {
  background: #46b67f;
}
.tasks-list .task .delete-button {
  background: #c66169;
}

/* Controls */
.controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--controls-height);
}
.controls form {
  height: 100%;
  width: 100%;
}
.controls form .input {
  width: 100%;
  height: 100%;
  background: #004b4b;
  color: var(--light-color);
  padding: 0 var(--general-offset);
}
.controls #clear {
  position: absolute;
  height: calc(var(--controls-height) / 2);
  width: calc(var(--controls-height) / 2);
  top: calc(var(--controls-height) / 4);
  right: var(--general-offset);
  text-align: center;
  line-height: calc(var(--controls-height) / 2);
  background: rgba(200,200,200,0.5);
  border-radius: 50%;
}

/* Fullscreen image */
.fullimage-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(100, 100, 100, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}
.fullimage-container img {
  max-width: calc(100vw - var(--general-offset));
  max-height: calc(100vh - var(--general-offset));
  /* box-shadow: 0 0 10px 1px; */
}


/* Toolbox */
.hidden {
  display: none;
}

button.invisible-button {
  padding: 0;
  outline: none;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
