/* Reset */
* {
  box-sizing: border-box;
  border: none;
}

/* Declaring variables */
body {
  --controls-height: 54px;
  --li-height: 54px;
}

/* Fonts */
body, input, button {
  font-family: SandNew;
  font-size: 32px;
}

/* Constant height components */
#header, .controls {
  height: var(--controls-height);
  min-height: var(--controls-height);
}

/* Main container */
.container {
  position: relative;
  margin: 0 auto;
  /* max-width: 600px; */
  height: 100vh;
  max-height: 100vh;
}

/* Header & Filter */
#header {
  display: flex;
  justify-content: space-evenly;
  background: teal;
}
#header .item {
  display: inline-block;
  white-space: nowrap;
  height: 100%;
  line-height: var(--controls-height);
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 0 5px;
}
#header .item.active {
  color: black;
}

/* Controls */
.controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--controls-height);
}
.controls form {
  height: 100%;
  width: 100%;
}
.controls form .input {
  width: 100%;
  height: 100%;
  background: black;
  color: white;
  padding: 0 10px;
}

/* TasksList style */
.tasks-list {
  overflow-y: auto;
  height: calc(100% - 2 * var(--controls-height));
  max-height: calc(100% - 2 * var(--controls-height));
  background: lightgrey;
}
.tasks-list .task {
  height: var(--li-height);
  display: flex;
  justify-content: space-between;
  border-radius: calc(var(--li-height) / 2);
  background: white;
  margin: 1px;
}
.tasks-list .task .image {
  height: var(--li-height);
  width: var(--li-height);
  min-width: var(--li-height);
  border-radius: 50%;
  display: inline-block;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  transition: 1s;
}
.tasks-list .task.completed .image {
  -webkit-filter: grayscale(1);
  opacity: 0.75;
}
.tasks-list .task .description {
  width: 100%;
  word-break: break-word;
  cursor: pointer;
  overflow: hidden;
  /* background: linear-gradient(white, transparent, grey); */
  margin: 0 10px;
}
.tasks-list .task.completed .description {
  text-decoration: line-through;
}
.tasks-list .task .round {
  display: inline-block;
  width: var(--li-height);
  min-width: var(--li-height);
  height: var(--li-height);
  text-align: center;
  color: white;
  border-radius: 50%;
}
.tasks-list .task .up-button {
  background: rgba(90,200,80,0.75);
}
.tasks-list .task .delete-button {
  background: rgba(200,80,90,0.75);
}

/* Toolbox */
.hidden {
  display: none;
}

button.invisible-button {
  padding: 0;
  outline: none;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
